<body>
    <div class="welcome media">
      <figure class="image is-256x256">
        <p>
          <img class="is-rounded" src="https://camo.githubusercontent.com/e4390cce04ce4a28cb4bdf941716ac435f0c08df13238588012a209f71834677/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3631373837373135323232313735373533342f3838323333333132333434393332373634362f576562702e6e65742d6769666d616b65722e676966">
        </p>
      </figure>
      <div class="media-content ">
        <div class="content">
            <h1>Kaique</h1>
        </div>
        <div class="description">
          Software engineer focusing on RoR.
        </div>

        <span class="icon">
          <i class="fas fa-arrow-right"></i>
        </span>
        <span><%= link_to 'Posts', posts_path, class: "a-welcome"%></span>

        <div class="profile-icons">
          <div>
            <i class="fab fa-github"></i>
            <a href="https://github.com/rinyaresu" class="a-profile">@rinyaresu</a>
          </div>
          <div>
            <i class="fab fa-twitter"></i>
            <a href="https://twitter.com/rinyaresu" class="a-profile">@rinyaresu</a>
          </div>
          <div>
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/kaique-linhares-25a840208/" class="a-profile">@rinyaresu</a>
          </div>
        </div>
      </div>
    </div>
</body>
