<% content_for :page_title, @post.title %>

<section class="section">
  <div class="container">
    <div class="media-content">
      <p class="title is-4 "> <%= link_to @post.title, @post, class: "a-primary" %></p>
    </div>
    <hr />
    <div class="content">
      <%= @post.content %>
    </div>
  </div>
</section>